:root{
    --blue:var(#79ADD5);
    
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

section #button{
    display: none;
}
section #button:checked ~ .btn{
    background-color: #79ADD5;
	opacity: 90%;
}

.heading{
    text-align: center;
    font-size: 3rem;
    color: #4B4C4D;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #E5E5E5;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border: 0.2rem solid #79ADD5;
    border-radius: 5rem;
    background-color: transparent;
    color: #4B4C4D;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.citeste{
    display:inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #9C9C9C;
    color: #4B4C4D;
    padding: .9rem 3.5rem;
    cursor: pointer;  
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}


header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #F6F9FC;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #4B4C4D;
    font-weight: bolder;
}

header .logo span{
    color:#79ADD5;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #4B4C4D;
    position: sticky;
}

header .icons a:hover{
    color:#79ADD5;
}

header .icons a{
    font-size: 2.5rem;
    color:#4B4C4D;
    margin-left: 2rem;
}
header .icons .fa-user{
    font-size: 2.5rem;
    color:#4B4C4D;
    margin-left: 2rem;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

.acasa{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../image/food\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.acasa .content{
    max-width: 50rem;
}

.acasa .content h3{
    font-size: 6rem;
    color: #2A2B2B;
}

.acasa .content span{
    font-size: 3.5rem;
    color: #4B4C4D;
    padding: 1rem 0;
    line-height: 1.5;
}
.acasa .content p{
    font-size: 1.5rem;
    color: #4B4C4D;
    padding: 1rem 0;
    line-height: 1.5;
}

.desprenoi .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.desprenoi .row .photo{
    flex: 1 1 40rem;
    position: relative;
}
.desprenoi .row .photo img{
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.2);
    height: 100%;
    object-fit:cover;
}
.desprenoi .row .photo h2{
    position: absolute;
    top: 50%; transform: translateY(-40%);
    font-size: 3rem;
    background: #E5E5E5;
    opacity: 90%;
    width: 100%;
    padding: 1rem 2rem;
    text-align:center;
    mix-blend-mode:lighten;
}
.desprenoi .row .content{
    flex: 1 1 40rem;
}
.desprenoi .row .content h3{
    font-size: 3rem;
    color:#2A2B2B;
}
.desprenoi .row .content p{
    font-size: 1.5rem;
    color: #4B4C4D;
}
.icons-container{
    background: #F6F9FC;
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}
.icons-container .icons{
    border: 0.2rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}
.icons-container .icons h3{
    color: #2A2B2B;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}
.icons-container .icons span{
    color: #4B4C4D;
    font-size: 1.3rem;
}
.produse .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.produse .box-container .box{
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0,0,0,.2);
    position: relative;
}
.produse .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: 0.7rem 1rem;
    font-size: 2rem;
    color: #2A2B2B;
    background: rgba(0,0,0,.2);
    z-index: 1;
    border-radius: 0.5rem;
}
.produse .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.produse .box-container .box .image img{
    height: 25rem;
    padding-bottom: 1.2rem;
}
.produse .box-container .box:hover .image img{
    transform: scale(1.05);
}
.produse .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem;left: 0;right: 0;
    display: flex;
}
.produse .box-container .box:hover{
    bottom: 0;
}
.produse .box-container .box .image a{
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    width: 50%;
    border: 0.1rem solid rgba(0,0,0,.2);
    color: #9C9C9C;
    background: rgba(0,0,0,.1);
}
.produse .box-container .box .image a:hover{
    background: rgba(0,0,0,.2);
}
.produse .box-container .box .content{
    padding: 2.5rem;
    text-align: center;
}
.produse .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
}
.produse .box-container .box .content .pret{
    font-size: 2rem;
    color:#2A2B2B;
    font-weight: bolder;
    padding-top: 1rem;
}
.produse .box-container .box .content .pret span{
    font-size: 1.5rem;
    color:#2A2B2B;
    font-weight: lighter;
    text-decoration: line-through;
}

.recenzii .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.recenzii .box-container .box {
    flex:1 1 30rem;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position:relative;
    
}
.recenzii .box-container .box .fa-qoute-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: #E5E5E5;
}
.recenzii .box-container .box .stars i{
    color: #79ADD5;
    font-size: 2rem;
}
.recenzii .box-container .box p{
    color: #9C9C9C;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}
.recenzii .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}
.recenzii .box-container .box  img{
    height: 6rem;
    width: 6rem;
    object-fit: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.recenzii .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}
.recenzii .box-container .box .user .span{
    font-size: 1.5rem;
    color:#F6F9FC;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    background: #F6F9FC;
    border-radius: .5rem;
}
.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
    border-color: #79ADD5;
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
}
.subsol .continut{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; 
    align-items: center;
    position: absolute;  
}
.subsol .continut .rand{
    flex: 1 1 25rem;
    display: block;
}
.subsol .continut .rand h3{
    color: red;
    font-size: 2.5rem;
    padding: 1rem 0;
}
.subsol .continut .rand a{
    display: block;
    color: red;
    font-size: 1.5rem;
    padding: 1rem 0;
}
.subsol .continut .rand a:hover{
    color: #79ADD5;
    text-decoration: underline;
}
.subsol .box-container img{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}












/*media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
    .acasa{
        background-position: left;
    }
    .acasa .content{
        font-size: 5rem;
    }
    .acasa .span{
        font-size: 2.5rem;
    }
}
@media (max-width:768px){

    header .fa-bars{
        display: block;
    }
     
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #F6F9FC;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0)
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background: #F6F9FC;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
    .icons-container .icons h3{
        font-size: 2rem;
    }
    .icons-container .icons span{
        font-size: 1.7rem;
    }
}
@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .heading{
        font-size: 3rem;
    }
}
